<!DOCTYPE html>
<html lang="pt-BR">

{% include "parciais/cabecalho.html" %}
{% include "parciais/head.html" %}

<body>
    {% include "parciais/buscador.html" %}
    <main class="principal-conteudo-container">
        <div class="principal-conteudo"></div>
        <div class="temp"></div>
        <div class="temp"></div>
        <div class="temp"></div>
        <div class="temp"></div>
        <div class="temp"></div>
        <div class="temp"></div>
        <div class="temp"></div>
        <div class="temp"></div>
        <div class="temp"></div>
        <div class="temp"></div>
    </main>
</body>
</html>