<style> 
    html{
        font-size: 60%;
    }

    body{
        font-size: 16px;
        background-color: gray;
    }

    .Principal-Cabecalho-Container{
        background-color: black;
        padding: 32px;
    }

    .Principal-Cabecalho-Container{
        background-color: black;
        padding: 2rem 0;
        margin-bottom: 4rem;
        text-align: center;
    }

    .Logo-Principal{
        color: white;
        text-decoration: none;
    }

    .from-buscador{
        border: 1rem solid gray;
        max-width: 25rem;
        margin: 0 auto;
        border-radius: 1rem;
        position: relative;
        transition: all 0.3s;
    }

    .entrada-buscador, botao-buscador{
        border: none;
        background: none;
        outline: none;
        padding: 1rem;
    }

    .entrada-buscador{
        width: 100%;
        font-size: 1.6rem;
        padding-right: 4rem;
    }

    .botao-buscador{
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .botao-buscador:focus{
        outline: 1px solid ;
        background-color: white;
    }

    .from-buscador:focus-within{
        border-color: black;
        background-color: white;
    }

    .principal-conteudo-lista{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 4rem;
        background-color: blue;
        
    }

    .temp{
        background: red;

    }



</style> 